.contacts-container {
  padding: 4em 0em;
  text-align: center;

}

.whats-next {
  font-size: 1.2rem;
  margin-bottom: .5em;
  background: linear-gradient(180deg, rgba(75, 0, 130, 1) 0%, rgba(205, 92, 92, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacts-container h2 {
  color: rgb(243, 236, 247);
  font-size: 2.5rem;
  margin-bottom: .3em;
}

.contacts-container p {
  font-size: 1.2rem;
}

.contacts-container a {
  margin-top: 2em;
  display: inline-block;
  padding: .8em 2em;
  text-decoration: none;
  border: 1px solid indianred;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(75, 0, 130, 1) 0%, rgba(205, 92, 92, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.3rem;
}

.scroll-wrapper {
  margin: 2em auto;
  border: 1px solid indianred;
  padding: 1em;
  border-radius: 50%;
  display: block;

}